body{
    margin: auto;
    background: #bdc3c7; 
    font-family: Sans-serif;
}
.title{
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    letter-spacing: 2px;
    display: block;
}
/* ======== NAV BAR ======== */
.sideMenu{
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 15px;
    border-radius: 1rem;
    border: 2px solid rgb(119, 119, 119);
    background: rgb(255, 255, 255);
    overflow-x: hidden;

}
.sideMenu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #1670e6;
    border: 1px solid rgb(119, 119, 119);
    border-collapse: collapse;
    display: block;
}
.sideMenu a:hover {
    background: #e48b8b;
    color: #ffffff;
}

.content{
    margin-left: 140px;
}
.main{
    width: 60%;
    margin-top: 25px;
    margin-left: 200px;
    background: #909599; 
    border: 3px solid white;
    border-radius: 1rem;
    padding: 1rem;
}

.search-input{
    width: 250px;
    height: 1.5rem;
    border: 2px solid #ca2c2c;
    border-radius: 5px;
}
.search-btn{
    width: 55px;
    height: 1.5rem;
    text-align: center;
}
.results{
    width: 99%;
    height: 500px;
    margin: auto;
    padding-right: 25px;
    overflow-y: scroll;
}

.results-table, .results-table th, .results-table td, .results-table tr{
    border: 2px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
.results-table{
    border: 5px solid #fff;
}

.results-table thead th{
    height: 40px;
    padding: 3px;
    font-size: 16px;
    position: sticky; 
    top: 0;
    z-index: 2;
    border: 2px solid #ffffff;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.results-table tr{
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
}
.results-table td{
    padding: 8px;
}

.sName, .artName, .alName, .dur{
    padding: 0;
}
.sName{
    width: 35%;
}
.artName{
    width: 25%;
}
.alName{
    width: 25%;
}
.dur{
    width: 15%;
}



/* ============ HEADERS ===========*/
.back_btn{
    height: 25px;
    width: 75px;
    padding: 10px;
    margin-top: 25px;
    background-color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
}
.back_btn:link, .back_btn:visited{
    color: #000;
    text-decoration: none;
}
.back_btn:hover{
    background:#e48b8b;
}


/*==== CLEAR ====*/
.clear_btn{
    height: 7px;
    width: 55px;
    padding: 2px;
    margin-top: 25px;
    font-size: 14px;
    background-color: #ffffff;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    border-radius: 3px;
}
.clear_btn:link, .back_btn:visited{
    color: #000;
    text-decoration: none;
}
.clear_btn:hover{
    background:#e48b8b;
}

.artistHead{
    height: 30px;
    width: 200px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 3px;
    margin-top: 25px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.albumHead{
    height: 125px;
    width: 400px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 3px;
    margin-top: 25px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.albumHead img{
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid #fff;
}
.album_image{
    flex-basis: 30%;
    padding:2px;
}
.album_info{
    width: 80%;
}
/* ============ ARTIST INFORMATION CARDS ===========*/
.main_artistCard li{
    height: 30px;
    width: 250px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 3px;
    margin-top: 7px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
}
.main_artistCard li a{
    margin-top: 5px;
    display: block;
    text-decoration: none;
}

.main_artistCard li a:link, .main_artistCard li a:visited{
    color: #000;
    text-align: center;
    text-decoration: none;
}

.main_artistCard li:hover{
    background:#e48b8b;
}



/* ============ ALBUM INFORMATION CARDS ===========*/
.albumCard li{
    height:50px;
    width: 350px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 3px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
    background-color: #fff;
}
.albumCard li a{
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.albumCard li a:link, .albumCard li a:visited{
    color: #000;
    text-align: center;
    text-decoration: none;
}

.albumCard li:hover{
    background:#e48b8b;
}
.main_albumCard li{
    height: 50px;
    width: 350px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 3px;
    margin-top: 15px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 100%;
    background-color: #fff;
}
.main_albumCard li a{
    margin-top: 10px;
    display: block;
    text-decoration: none;
}

.main_albumCard li a:link, .main_albumCard li a:visited{
    color: #000;
    text-align: center;
    text-decoration: none;
}

.main_albumCard li:hover{
    background:#e48b8b;
}


/* 
============================== 
        Login Page
============================== 
*/
.form-container{
    width: 70%;
    display: block;
    margin: auto;
}
.form-container img{
    height: 150px;
    width: 150px;
    border-radius: 5rem;
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: #000;
    border-radius: 1.5rem;
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
}

.form-input{
    margin: 12px 0;
}
.form-data{
    width: 250px;
    height: 25px;
    padding: 10px;
    font-size: 16px;
    border-radius: 1rem;
    -webkit-tap-highlight-color: transparent;
}
.form-data:focus{
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    outline-width: 0;
    border-color: #e48b8b !important;
    
}
.btn{
    padding: 8px 20px;
    border-radius: 1rem;
    overflow: hidden;
    width: 175px;
    margin: 18px 0 9px 0;
    background-color: #bdc3c7;
}
.btn:hover{
    background-color: #e48b8b;
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
}
.login-form label a:link, .login-form label a:visited{
    color: #fff;
    font-weight: bold;
}
/* ======= Sign Up Section ======= */

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: #000;
    border-radius: 1.5rem;
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
}

.signup-form-container {
    width: 70%;
    margin: auto;
}

.signup-form-input{
    margin: 12px 0;
}
.signup-form-data{
    width: 250px;
    height: 25px;
    padding: 10px;
    font-size: 16px;
    border-radius: 1rem;
    -webkit-tap-highlight-color: transparent;
}
.signup-form-data:focus{
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    outline-width: 0;
    border-color: #e48b8b !important;
    
}
.signupButton{
    padding: 8px 20px;
    border-radius: 1rem;
    overflow: hidden;
    width: 175px;
    margin: 18px 0 9px 0;
    background-color: #bdc3c7;
}
.signupButton:hover{
    background-color: #e48b8b;
    box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -webkit-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
    -moz-box-shadow: -4px -5px 23px -4px rgba(255,255,255,0.75);
}

/*=========== TOTAL USERS ============= */

.name, .email, .bio{
    padding: 0;
}
.name{
    width: 30%;
}
.email{
    width: 30%;
}
.bio{
    width: 40%;
}
